@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fira Code", monospace;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: rgb(57, 57, 57);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(249 115 22);
  border-radius: 5px;
}

